<br></br><br></br>
{{> flashMsg}}

<h3 class = "page-greet-minus">REGISTER</h3>

</br>
<form method = "POST" action = "">
<h8 class = "form-text">First Name</h8> <input class = "form-element" type = "text" name = "firstName" placeholder = "First Name" value = {{firstName}}>
<h8 class = "form-text">Last Name</h8> <input class = "form-element" type = "text" name = "lastName" placeholder = "Last Name" value = {{lastName}}>
<h8 class = "form-text">Nickname</h8> <input class = "form-element" type = "text" name = "nickname" placeholder = "Nickname" value = {{nickname}}>
<h8 class = "form-text">Email</h8> <input class = "form-element" type = "text" name = "email" placeholder = "Email Address" value = {{email}}>
<h8 class = "form-text">Password</h8> <input class = "form-element" type = "password" name = "password" placeholder = "********" value = {{password}}>
<h8 class = "form-text">Confirm Password</h8><input class = "form-element" type = "password" name = "passwordCheck" placeholder = "********" value = {{passwordCheck}}>
<input class = "actionBtn" type = "submit" value = "Register">
</form>
